# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
*.ipa
*.psd
vendor/SSToolkit
Frank/*
.DS_Store
en.lproj/cs.lproj/cs.lproj
en.lproj/da.lproj/da.lproj
en.lproj/de.lproj/de.lproj
en.lproj/el.lproj/el.lproj
en.lproj/en.lproj
en.lproj/es.lproj/es.lproj
en.lproj/fi.lproj/fi.lproj
en.lproj/fr.lproj/fr.lproj
en.lproj/ja.lproj/ja.lproj
en.lproj/ko.lproj/ko.lproj
en.lproj/nl.lproj/nl.lproj
en.lproj/pt.lproj/pt.lproj
en.lproj/ru.lproj/ru.lproj
en.lproj/sv.lproj/sv.lproj
en.lproj/zh-Hans.lproj/zh-Hans.lproj
en.lproj/zh-Hant.lproj/zh-Hant.lproj
*.xccheckout
NavigationControllerAnimations.xcworkspace/xcshareddata/NavigationControllerAnimations.xccheckout
Pods/resources-to-copy-Hopscotch.txt
Pods/
*.swift.REMOTE.*
*.swift.BACKUP.*
*.swift.LOCAL.*
*.swift.BASE.*
